<app-encabezado titulo="cambiar contraseña" [shouldGoBack]="true" defaultHref="/tabs/perfil"></app-encabezado>

<ion-content class="ion-padding">
  <form [formGroup]="passwordForm" (ngSubmit)="changePassword()">
    <ion-item>
      <ion-label position="floating">Contraseña Actual</ion-label>
      <ion-input type="password" formControlName="currentPassword"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Nueva Contraseña</ion-label>
      <ion-input type="password" formControlName="newPassword"></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit" [disabled]="passwordForm.invalid">
      Actualizar Contraseña
    </ion-button>
  </form>

</ion-content>