<app-encabezado titulo="perfil"></app-encabezado>
<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Juanito Alcachofa</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Aquí aun no se me ocurre que poner
    </ion-card-content>
    <ion-button fill="clear">Editar perfil</ion-button>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Historial de viajes</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let viaje of viajes">
          <ion-label>{{viaje.fecha}}</ion-label>
          <ion-button id={{viaje.id}}>Ver detalles</ion-button>
          <ion-alert trigger="{{viaje.id}}" header="viaje el {{viaje.fecha}} "
            subHeader="nombre del conductor:{{viaje.conductor}}" message="ubicacion: {{viaje.lugar}}"
            [buttons]="alertButtons"></ion-alert>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>