<app-encabezado titulo="inicio"></app-encabezado>
<ion-content class="ion-padding">
  
  <ion-text>
    <h1>Bienvenido, {{nombre}}</h1>
    <!-- Aviso de viaje disponible -->
    <ion-item *ngIf="viajeEnCurso.status" lines="none" color="tertiary" class="viaje-en-curso">
      <ion-label slot="start">Tienes un viaje en curso</ion-label>
      <ion-button slot="end" color="success"
        routerDirection="forward" [routerLink]="viajeEnCurso.esConductor ? '/conducir/adm-viajes' : '/vista-viaje'">
        Ir al viaje
      </ion-button>
    </ion-item>
    <h4>Viajes disponibles:</h4>
  </ion-text>
  <ion-text *ngIf="viajes.length === 0 && !loading">
    <h4> No hay viajes disponibles</h4>
  </ion-text>
  <!-- Viajes falsos de carga -->
  <ion-card *ngIf="loading && viajes.length === 0">
    <ion-card-header>
      <ion-card-title><ion-skeleton-text animated style="width: 70%"></ion-skeleton-text></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></ion-label>
        </ion-item>
        <ion-item>
          <ion-label><ion-skeleton-text animated style="width: 55%"></ion-skeleton-text></ion-label>
        </ion-item>
        <ion-item>
          <ion-label><ion-skeleton-text animated style="width: 48%"></ion-skeleton-text></ion-label>
        </ion-item>
        <ion-item>
          <ion-label><ion-skeleton-text animated style="width: 45%"></ion-skeleton-text></ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text></ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="loading && viajes.length === 0">
    <ion-card-header>
      <ion-card-title><ion-skeleton-text animated style="width: 70%"></ion-skeleton-text></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></ion-label>
        </ion-item>
        <ion-item>
          <ion-label><ion-skeleton-text animated style="width: 55%"></ion-skeleton-text></ion-label>
        </ion-item>
        <ion-item>
          <ion-label><ion-skeleton-text animated style="width: 48%"></ion-skeleton-text></ion-label>
        </ion-item>
        <ion-item>
          <ion-label><ion-skeleton-text animated style="width: 45%"></ion-skeleton-text></ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text></ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <!-- Viajes -->
  <ion-card *ngFor="let viaje of viajes">
    <ion-card-header>
      <ion-card-title>Destino: {{viaje.destino.direccion.split(', ')[1]}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Conductor: {{viaje.conductor}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Fecha: {{viaje.fecha | date: 'dd/MM/yyyy'}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Hora: {{viaje.fecha | date: 'HH:mm'}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Costo: {{viaje.precio | currency:'CLP':'symbol-narrow'}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Asientos disponibles: {{viaje.pasajeros ? viaje.asientos - viaje.pasajeros.length : viaje.asientos}}</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-button (click)="solitcitarViaje(viaje)" [disabled]="viajeEnCurso.status">Solicitar viaje</ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>