<app-encabezado titulo="perfil"></app-encabezado>
<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{nombre}} {{apellido}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="profileForm" (ngSubmit)="saveProfile()">
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input formControlName="name"></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-label position="floating">Apellido</ion-label>
          <ion-input formControlName="lastName"></ion-input>
        </ion-item>

        <ion-item> 
          <ion-label position="floating">Email</ion-label>
          <ion-input formControlName="email" type="email" (disabled)="true"></ion-input>
        </ion-item>

        <ion-button expand="full" type="submit" [disabled]="profileForm.invalid">
          Guardar Cambios
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Historial de viajes</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let viaje of viajes">
          <ion-label>{{viaje.fecha}}</ion-label>
          <ion-button id={{viaje.id}}>Ver detalles</ion-button>
          <ion-alert trigger="{{viaje.id}}" header="viaje el {{viaje.fecha}}"
            subHeader="nombre del conductor:{{viaje.conductor}}" message="ubicación: {{viaje.lugar}}"
            [buttons]="['ok']"></ion-alert>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>