<ion-item lines="none" class="ion-margin-bottom">
  <ion-icon slot="start" [name]="icon"></ion-icon>
  <ion-input 
    [type]="type"
    [placeholder]="placeholder"
    [formControl]="control"
    [disabled]="disabled"
    [errorText]="error"
    [label]="label"
    labelPlacement="floating"
    ></ion-input>
  <ion-button *ngIf="isPassword" (click)="toggleHidePassword()" expand="block" fill="clear" shape="round">
    <ion-icon [name]="hide? 'eye-sharp':'eye-off-sharp'"></ion-icon>
  </ion-button>
</ion-item>