<app-encabezado titulo="Inicio de sesión"></app-encabezado>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Iniciar Sesión</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form (ngSubmit)="iniciarSesion()" #loginForm="ngForm">
        <ion-input
        class="ion-margin-bottom"
        fill="outline"
        type="email"
        label="Correo"
        placeholder="Ingrese su correo"
        helperText="Ingrese su correo institucional"
        labelPlacement="stacked"
        errorText="Pone el correo bien, persona de bajo intelecto"
        [(ngModel)]="user.email"
        name="email"
        required
      ></ion-input>
      <ion-input
        class="ion-margin-bottom"
        fill="outline"
        type="password"
        placeholder="Ingrese una contraseña"
        label="Contraseña"
        labelPlacement="stacked"
        [(ngModel)]="user.password"
        name="password"
        required
      >
        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
      </ion-input>
      <ion-button expand="full" type="submit" [disabled]="loginForm.invalid">iniciar Sesion</ion-button>
      </form>
    </ion-card-content>
    <ion-card-content>
      <ion-button routerLink="cambiar-contra" routerDirection="forward" expand="block" fill="clear" shape="round">
        ¿se te olvidó la contraseña?
      </ion-button>
      <ion-button routerLink="crear" routerDirection="forward" class="ion-padding" expand="block">
        crear cuenta
      </ion-button>
    </ion-card-content>
  </ion-card>
  
</ion-content>
