<app-encabezado titulo="Viaje: {{viaje.estado}}" [shouldGoBack]="true" defaultHref="/conducir"></app-encabezado>

<ion-content>
  <!-- Botones para las solicitudes y mensajes -->
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button (click)="solicitudesModal = true"><ion-icon name="clipboard-outline"></ion-icon></ion-fab-button>
  </ion-fab>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="tertiary" (click)="mensajesModal = true"><ion-icon name="chatbox-ellipses-outline"></ion-icon></ion-fab-button>
  </ion-fab>
  <!-- Botón para terminar el viaje -->
  <ion-fab vertical="top" horizontal="start" slot="fixed">
    <ion-fab-button>
      <ion-icon name="settings-sharp"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="end">
      <ion-fab-button *ngIf="viaje.estado !== 'iniciado'" color="warning" (click)="iniciarViaje()">
        <ion-icon name="play-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="danger" (click)="terminarViaje()"><ion-icon name="power-outline"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <!-- Mapa -->
  <div id="map-container">
    <div class="map" id="mapa" tabindex="0"></div>
  </div>
  <!-- Modal para las solicitudes -->
  <ion-modal [isOpen]="solicitudesModal" (willDismiss)="solicitudesModal = false">
    <ng-template>
      <ion-header>
        <ion-toolbar color="secondary">
          <ion-title>Solicitudes</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="solicitudesModal = false">
              Cerrar
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-card *ngFor="let solicitud of solicitudes">
          <ion-card-content class="ion-padding-vertical">
            <ion-label color="tertiary" class="ion-margin-bottom">
              <h5>{{solicitud.pasajero}}</h5>
            </ion-label>
            <ion-text *ngIf="solicitud.estado !== 'PENDIENTE'">
              <p>Solicitud {{solicitud.estado}}</p>
            </ion-text>
            <ion-buttons slot="bottom">
              <ion-button *ngIf="solicitud.estado === 'PENDIENTE'" color="success" fill="solid" expand="block" (click)="aceptarSolicitud(solicitud)">
                Aceptar
              </ion-button>
              <ion-button *ngIf="solicitud.estado === 'PENDIENTE'" color="danger" fill="solid" expand="block" (click)="rechazarSolicitud(solicitud)">
                Rechazar
              </ion-button>
            </ion-buttons>
          </ion-card-content>
        </ion-card>
        <ion-card *ngIf="solicitudes.length <= 0">
          <ion-card-content>
            <ion-text color="tertiary">
              <h5>No hay solicitudes</h5>
            </ion-text>
          </ion-card-content>
        </ion-card>
      </ion-content>
    </ng-template>
  </ion-modal>
  <!-- Modal para los mensajes -->
  <ion-modal [isOpen]="mensajesModal" (willDismiss)="mensajesModal = false">
    <ng-template>
      <ion-header>
        <ion-toolbar color="secondary">
          <ion-title>Mensajes</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="mensajesModal = false">
              Cerrar
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content #mensajesContainer>
        <div id="mensajes-container">
          @for (mensaje of mensajes; track $index) {
            @if (mensaje.remitenteId === usuario.uid) {
              <!-- Mensaje del usuario -->
              <div class="mensaje-usuario">
                <ion-label>
                  <strong>{{mensaje.remitente}}</strong>
                  <br />
                  <ion-note>
                    {{ mensaje.mensaje }}
                  </ion-note>
                </ion-label>
              </div>
            }
            @else {
              <div class="mensaje-recibido">
                <ion-label>
                  <strong>{{mensaje.remitente}}</strong>
                  <br />
                  <ion-note>
                    {{ mensaje.mensaje }}
                  </ion-note>
                </ion-label>
              </div>
            }
          }
        </div>
      </ion-content>
      <ion-footer class="ion-padding">
        <form #mensajeForm="ngForm" (ngSubmit)="enviarMensaje()">
          <ion-item lines="none">
            <ion-input type="text" placeholder="Escribir mensaje..." fill="outline" name="nuevoMensaje" [(ngModel)]="nuevoMensaje"></ion-input>
            <ion-buttons slot="end">
              <ion-button type="submit" shape="round" color="tertiary" expand="block" fill="solid">
  
                <ion-icon slot="start" name="paper-plane-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-item>
        </form>
      </ion-footer>
    </ng-template>
  </ion-modal>
</ion-content>