<app-encabezado titulo="Viaje: {{viaje.estado}}" [shouldGoBack]="true" defaultHref="/conducir"></app-encabezado>

<ion-content>
  <!-- Botones para las solicitudes y mensajes -->
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="caret-back-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button (click)="solicitudesModal = true"><ion-icon name="clipboard-outline"></ion-icon></ion-fab-button>
      <ion-fab-button (click)="mensajesModal = true"><ion-icon name="chatbox-ellipses-outline"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <!-- Botón para terminar el viaje -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="settings-sharp"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button color="danger" (click)="terminarViaje()"><ion-icon name="power-outline"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <!-- Mapa -->
  <div id="map-container">
    <div class="map" id="mapa" tabindex="0"></div>
  </div>
  <!-- Modal para las solicitudes -->
  <ion-modal [isOpen]="solicitudesModal" (willDismiss)="solicitudesModal = false">
    <ng-template>
      <ion-header>
        <ion-toolbar color="secondary">
          <ion-title>Solicitudes</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="solicitudesModal = false">
              Cerrar
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-card *ngFor="let solicitud of solicitudes">
          <ion-card-content>
            <ion-text color="tertiary">
              <h5>{{solicitud.pasajero}}</h5>
            </ion-text>
            <ion-buttons slot="bottom">
              <ion-button *ngIf="solicitud.estado === 'PENDIENTE'" color="success" fill="solid" expand="block" (click)="aceptarSolicitud(solicitud)">
                Aceptar
              </ion-button>
              <ion-button *ngIf="solicitud.estado === 'PENDIENTE'" color="danger" fill="solid" expand="block" (click)="rechazarSolicitud(solicitud)">
                Rechazar
              </ion-button>
            </ion-buttons>
          </ion-card-content>
        </ion-card>
      </ion-content>
    </ng-template>
  </ion-modal>
  <!-- Modal para los mensajes -->
  <ion-modal [isOpen]="mensajesModal" (willDismiss)="mensajesModal = false">
    <ng-template>
      <ion-header>
        <ion-toolbar color="secondary">
          <ion-title>Mensajes</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="mensajesModal = false">
              Cerrar
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content #mensajesContainer id="mensajes-container" class="ion-padding">
        <ion-card *ngFor="let mensaje of mensajes">
          <ion-card-header>
            <ion-card-subtitle> {{mensaje.remitente}} </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p>{{mensaje.mensaje}}</p>
          </ion-card-content>
        </ion-card>
      </ion-content>
      <ion-footer class="ion-padding">
        <form #mensajeForm="ngForm" (ngSubmit)="enviarMensaje()">
          <ion-item lines="none">
            <ion-input type="text" placeholder="Escribir mensaje..." fill="outline" name="nuevoMensaje" [(ngModel)]="nuevoMensaje"></ion-input>
            <ion-buttons slot="end">
              <ion-button type="submit" shape="round" color="tertiary" expand="block" fill="solid">
  
                <ion-icon slot="start" name="paper-plane-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-item>
        </form>
      </ion-footer>
    </ng-template>
  </ion-modal>
</ion-content>