<app-encabezado titulo="home"></app-encabezado>
<ion-content class="ion-padding">
  <ion-grid fixed>
    <ion-row>
      <ion-col class="primary ion-text-center" size="3">
        Primario
      </ion-col>
      <ion-col class="secondary ion-text-center" size="3">
        Secundario
      </ion-col>
      <ion-col class="tertiary ion-text-center" size="3">
        Terciario
      </ion-col>
      <ion-col class="success ion-text-center" size="3">
        Success
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>