<app-encabezado titulo="Registro" [shouldGoBack]="true"></app-encabezado>

<ion-content class="ion-padding">
  <ion-grid fixed>
    <ion-row>
      <ion-col sizeMd="4" offsetMd="4">
        <form [formGroup]="registroForm" (ngSubmit)="registrar()">
          <app-custom-input
            [control]="registroForm.controls.nombre"
            label="Nombre"
            icon="person"
            placeholder="Ingrese su nombre"
            type="text"
          ></app-custom-input>
          <app-custom-input
            [control]="registroForm.controls.email"
            label="Email"
            icon="mail"
            placeholder="Ingrese su correo"
            type="email"
          ></app-custom-input>
          <app-custom-input
            [control]="registroForm.controls.password"
            label="Contraseña"
            icon="lock-closed"
            placeholder="Ingrese su contraseña"
            type="password"
          ></app-custom-input>
          <app-custom-input
            [control]="registroForm.controls.password2"
            label="Confirmar contraseña"
            icon="lock-closed"
            placeholder="Vuelva a ingresar su contraseña"
            type="password"
            [onChange]="validarContraseniasIguales()"
          ></app-custom-input>
          <ion-button expand="block" type="submit" [disabled]="registroForm.invalid">
            Crear cuenta
          </ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>