<app-encabezado titulo="conducir" [shouldGoBack]="true"></app-encabezado>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Conducir</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="block">Iniciar viaje</ion-button>
      <ion-button expand="block">Finalizar viaje</ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Historial de viajes</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let viaje of viajes">
          <ion-label>{{ viaje.fecha| date: 'dd/MM/yyyy HH:mm' }}</ion-label>
          <ion-label>{{ viaje.distancia }} km</ion-label>
          <ion-label>{{ viaje.destino }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>