<app-encabezado titulo="recuperar contraseña" [shouldGoBack]="true"></app-encabezado>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Recuperar contraseña</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form #recuperarPassForm="ngForm">
        <ion-input [(ngModel)]="email" name="email" label="Correo" labelPlacement="floating" fill="outline" type="email" helperText="Ingrese la dirección de correo asociada a su cuenta" email placeholder="Ingrese su correo" required></ion-input>
        <ion-button expand="block" type="button" [disabled]="recuperarPassForm.invalid">Recuperar contraseña</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>