<app-encabezado titulo="cree su cuenta"></app-encabezado>
<ion-content class="ion-padding">
  <form #registroForm="ngForm">
    <ion-item>
      <ion-icon slot="start" name="mail"></ion-icon>
      <ion-input label="Correo Electronico" label-placement="floating" placeholder="ingrese su correo"
        type="email" [(ngModel)]="newUser.email" name="email" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="finger-print"></ion-icon>
      <ion-input label="Contraseña" label-placement="floating" placeholder="ingrese su contraseña"
        type="password" [(ngModel)]="newUser.password" name="password" required></ion-input>
    </ion-item>

    <ion-button [disabled]="registroForm.invalid" class="ion-padding" routerLink="/login" routerDirection="root" expand="block" shape="round">
      crear cuenta
    </ion-button>
  </form>
</ion-content>